/* :root {
  --el-color-primary:#201dba;
} */

/* html.dark (
  --el-color-primary: #800868;
  -el-color-white: #1212+2;
  -el-color-black: 口#8e8808;
  -el-color-primary-light-3: #333333:
  el-color-primary-light-5: 口#54545;
  -el-color-primary-light-7: 四#545454;
  el-color-primary-light-8: 口#646464;
  -el-color-primary-light-g: 四#747474;
  el-color-primary-dark-2: 四#45454545;
  -el-bg=color: m#ffffff;
  el-bg-color-page: 口#333333;
  -el-bg-color-overlay: 口#808808:
  -el-text-color-primary: 口#000800;
  -el-text-color-regular: 国#880880;
  background-color: 四#454545:
} */

html.light {
  --theme-color: #f2f2f2;
  --theme-bg-color: rgba(245,245,245);
  --theme-bg-header-color: rgba(36,36,36,0.9);  
  --theme-font-color: #f2f2f2;
  --theme-font-hover-color: #f2f2f2ba;
}

html.dark {
  --theme-color: #000800;
  --theme-bg-color: rgba(0,0,0);
  --theme-bg-header-color: rgba(247,248,252);
  --theme-font-color: #000800;
  --theme-font-hover-color: #788;
}