/* :root {
  --el-color-primary:#201dba;
} */

html.light {
  /* --theme-color: #f2f2f2; */
  --theme-container-bg-color: rgba(240,240,240);
  --theme-menu-bg-color: rgba(56,56,56); 
  --theme-card-bg-color: rgba(232,232,235);
  --theme-card-font-color-1: rgba(37,37,41);
  --theme-card-font-color-2: rgba(120,120,120,0.8);
  --theme-header-font-color: #f2f2f2;
  --theme-header-font-hover-color: #f2f2f2ba;
  --theme-backTop-bg-color: rgba(255,255,255); 
}

html.dark {
  /* --theme-color: #1E1E20; */
  --theme-container-bg-color: rgba(30,30,30);
  --theme-menu-bg-color: rgba(240,240,240);
  --theme-card-bg-color: rgba(37,37,41);
  --theme-card-font-color-1: rgba(232,232,235);
  --theme-card-font-color-2: rgba(200,200,200,0.8);
  --theme-header-font-color: #1E1E20;
  --theme-header-font-hover-color: #788;
  --theme-backTop-bg-color: rgba(80,80,80); 
}